<!DOCTYPE html>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"/>
<style>
    

</style>
<script>
    function NotImplemented(){
        return alert('Не реализовано. Затычка.')
    }
</script>
<html lang="en">
<style>
    body{
        background: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612630770_84-p-fon-zelenii-mramor-100.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
    }
    h2, h3, h4{
        background: rgba(255, 255, 255, 0.705);
        color: rgb(36, 43, 39);
        text-align: center;
        border-radius: 10px;
        padding: 0 6px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    .item{
        background: rgba(255, 255, 255, 0.712);
        border-radius: 10px;
        padding: 3px 0px;
        margin: 0 20px;
    }
    .center{
        display: flex;
        justify-content: flex-start;
        margin: 20px;
    }
    .bottom{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        margin: 20px;
    }
    .insert{
       padding: 10px;
    }
    input{
        border-radius: 5px;
        margin: 0 10px;
    }
    .btn{
        background-color: rgb(255, 255, 255);
        margin: 0 10px;
    }
</style>
<head>
    <meta charset="UTF-8" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>жопный обосранный жууук</title>
</head>

<body>


<div class="header btn-group">
    <div class="item">
        <h2>SPA Ветклиники</h2>
        <button onclick="document.location=''">Обновить</button>
        <% if(rolename=="Doctor" || rolename=="Admin") { %>
        <button onclick="document.location='/optimize'">Оптимизировать</button>
        <%} else if(rolename=="Staff" || rolename=="Admin") { %>
        <button onclick="document.location='/view-orders'">view orders</button>
        <%}%>
    </div>
    <div class="item">
        <h2 >Вход под ролью <%= rolename %></h2>
        <button class="btn"  onclick="document.location='/users/logout'">Logout</button>
    </div>
</div>

<div class="center">
    <% if(rolename=="Doctor" || rolename=="Admin") { %>
    <div class="item" style="float:left;">
        <h4>Найти информацию о животном: </h4>
    <form name="createform" action="/searh" method="POST">
        <div>
            <input
                    type="text"
                    id="search"
                    name="Name"
                    placeholder="Имя питомца"
                    required
            />
        </div>
        <div>
            <input class="btn" type="submit" value="Найти" />
        </div>
    </form>
    </div>
    <%}%>
    <div class="item" style="float:left;">
        <h4>Фильтрация:</h4>
    <form name="filterform" action="?" method="GET">
        <div>
            <input
                    type="key"
                    id="key"
                    name="key"
                    placeholder="Ключ"
            />
            <input
                    type="value"
                    id="value"
                    name="value"
                    placeholder="Значение"
            />
            <% if(rolename=="Admin") { %>
            <select id="entity" name="entity">
                <option value="Administration">Administration</option>
                <option value="Animal">Animal</option>
                <option value="Appointment">Appointment</option>
                <option value="Client">Client</option>
                <option value="Clinic">Clinic</option>
                <option value="Doctor">Doctor</option>
                <option value="Food">Food</option>
                <option value="History">History</option>
                <option value="Medications">Medications</option>
                <option value="Order">Order</option>
                <option value="Order_Food">Order_Food</option>
                <option value="Order_Medications">Order_Medications</option>
                <option value="Pharmacy_staff">Pharmacy_staff</option>
                <option value="Services">Services</option>
                <option value="Services_Clinic">Services_Clinic</option>
                <option value="Veterinary_Pharmacy">Veterinary_Pharmacy</option>
                <option value="Veterinary_Pharmacy_Food">Veterinary_Pharmacy_Food</option>
                <option value="Veterinary_Pharmacy_Medications">Veterinary_Pharmacy_Medications</option>
            </select>
            <%} else if(rolename=="Doctor") { %>
            <select id="entity" name="entity">
                <option value="History">History</option>
                <option value="Animal">Animal</option>
                <option value="Appointment">Appointment</option>
                <option value="Client">Client</option>
                <option value="Services">Services</option>
                <option value="Services_Clinic">Services_Clinic</option>
            </select>
            <%} else if(rolename=="Staff") { %>
            <select  id="entity" name="entity">
                <option value="Veterinary_Pharmacy">Veterinary_Pharmacy</option>
                <option value="Food">Food</option>
                <option value="Medications">Medications</option>
                <option value="Order">Order</option>
                <option value="Order_Food">Order_Food</option>
                <option value="Order_Medications">Order_Medications</option>
                <option value="Pharmacy_staff">Pharmacy_staff</option>
                <option value="Veterinary_Pharmacy_Food">Veterinary_Pharmacy_Food</option>
                <option value="Veterinary_Pharmacy_Medications">Veterinary_Pharmacy_Medications</option>
            </select><%}%>
        </div>
        <div>
            <input class="btn" type="submit" value="Select" />
        </div>
    </form>
    </div>
</div>

<div class="bottom">
<% if (rows.length > 0) { %>
    <div class="item">
<h3><%= entity%></h3>
<table class="sortable">
    <tr style="border: solid 1px rgb(0, 0, 0); background-color: rgb(255, 255, 255); text-align: left;">
        <% for (propertyname of Object.getOwnPropertyNames(rows[0])) { %>
            <th style="border: solid 1px rgb(17, 17, 17); text-align: left;"><%= propertyname %></th>
            <% } %>
        <th style="border: solid 1px rgb(12, 12, 12); text-align: left;">Удалить (на себе не вызывать!!)</th>
    </tr>
<% var i = 1; %>
<% for (var row of rows ) { %>
    <% var swapcolor = ['rgb(255, 255, 255, 0.5)', 'rgba(255, 254, 189, 0.6)'] %>
    <tr style='background-color: <%= swapcolor[i++%2] %>; border: solid 1px #000; text-align: left;'>
        <% for (propertyname of Object.getOwnPropertyNames(row)) { %>
            <td style="border: solid 1px rgb(32, 32, 32); text-align: left;"><%= row[propertyname] %></td>
        <% } %>
        <td style="border: solid 1px rgb(39, 39, 39); text-align: left;"><button onclick="document.location='/delete/<%= entity %>/<%= row.id %>'">Delete</button></td>
    </tr>
<% } %>
</table>
<% } else { %>
    <table></table>
    <h1>No data for this entity</h1>
<% } %>
</div>

<% if(rolename=="Doctor" || rolename=="Admin") { %>
<div class="item insert">
    <% if(entity=="Animal") { %>
    <h4 >Новый питомец: </h4>
<form  name="createform" action="/users/justtable/<%= entity %>/add" method="POST">
    <div>
        <div>
        <input
            type="text"
            name="Name"
            placeholder="Кличка"
            required
        />
        </div>
        <div>
        <input
            type="text"
            name="Kind"
            placeholder="Вид животного"
            required
        />
        </div>
        <div>
        <input
                type="number"
                id="age"
                name="Age"
                placeholder="Возраст"
                required
        />
        </div>
        <input
            type="text"
            name="Species"
            placeholder="Порода"
            required
        />
        </div>
        <div>
        <input
                type="number"
                name="id_client"
                placeholder="id клиента"
                required
        />
        </div>
    <div>
        <input class="btn" type="submit" value="Create" />
    </div>
    </div>
</form>
    <%} else if(entity=="Client") { %>
    <h4>Новый клиент: </h4>
    <form name="createform" action="/users/justtable/<%= entity %>/add" method="POST">
    <div>
        <div>
        <input
            type="text"
            name="Name"
            placeholder="Имя"
            required
        />
        </div>
        <div>
        <input
            type="text"
            name="Surname"
            placeholder="Фамилия"
            required
        />
        </div>
        <div>
        <input
            type="text"
            name="Patronymic"
            placeholder="Отчестово"
            required
        />
        </div>
        <div>
        <input
                type="text"
                name="Phone"
                placeholder="Номер телефона"
                required
        />
        </div>
    <div>
        <input class="btn" type="submit" value="Create" />
    </div>
    </div>
</form>
    <%} else if(entity=="Appointment") { %>
    <h4>Новая запись на приём: </h4>
    <form name="createform" action="/users/justtable/<%= entity %>/add" method="POST">
    <div>
        <div>
        <input
                type="number"
                id="id"
                name="id_animal"
                placeholder="id животного"
                required
        />
        </div>
        <div>
            <label>Дата</label>
        <input
            type="date"
            id="date"
            name="Date"
            required
        />
        </div>
        
        <div>
        <input
                type="number"
                name="id_services"
                placeholder="id услуги"
                required
        />
        </div>
        <div>
        <input
                type="number"
                name="id_doctor"
                placeholder="id доктора"
                required
        />
        </div>
        <div>
        <input class="btn" type="submit" value="Create" />
    </div>
    </div>
</form>
<%}} else if(rolename=="Staff" || rolename=="Admin") {%>
    <div class="item insert">
    <%if(entity=="Order") {%>
    <h4>Новый заказ: </h4>
    <form name="createform" action="/users/justtable/<%= entity %>/add" method="POST">
    <div>
        <div>
        <input
            type="text"
            name="Name"
            placeholder="Имя"
            required
        />
        </div>
        <div>
        <input
            type="text"
            name="Surname"
            placeholder="Фамилия"
            required
        />
        </div>
        <div>
        <input
                type="text"
                name="Phone"
                placeholder="Номер телефона"
                required
        />
        </div>
        <div>
            <input
            type="number"
            name="id_pharmacy"
            placeholder="id аптеки"
            required
            />
        </div>
    <div>
        <input class="btn" type="submit" value="Create" />
    </div>
    </div>
    </div>
</form>
<%}}%>
</div>
</body>
</html>