<!DOCTYPE html>
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    th, td {
        border: solid 1px #000;
        text-align: left;
        padding: 5px;
    }
    tr:hover td{
        background: #F08080;
    }
    .btn-group button {
        background-color: #696969;
        border: 1px solid whitesmoke;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        float: left;
    }

    .btn-group button:not(:last-child) {
        border-right: none;
    }

    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }
    .btn-group button:hover {
        background-color: #3e8e41;
    }

</style>
<script>
    function NotImplemented(){
        return alert('Не реализовано. Затычка.')
    }
</script>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Justtable</title>
</head>
<body>
<div>
    <h1>Просто пример таблицы (select * from "user")</h1>
    <div class="btn-group">
        <button onclick="document.location='/users/logout'">Logout</button>
        <button onclick="NotImplemented()">Кнопка2</button>
        <button onclick="NotImplemented()">Кнопка3</button>
        <button onclick="NotImplemented()">Кнопка4</button>
    </div>
    <h3>Hello, <%= user.name %> (<%= user.id %>) (Показывает name+id текущего пользователя)</h3>
</div>

<h2>Форма для добавления новой записи:</h2>
<form name="createform" action="/users/justtable/add" method="POST">
    <div>
        <input
                type="name"
                id="name"
                name="name"
                placeholder="Name"
                required
        />
        <input
                type="phone"
                id="phone"
                name="phone"
                placeholder="phone"
                required
        />
    </div>
    <div>
        <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
        />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>

<h2>Форма для фильтрации:</h2>
<form name="filterform" action="/users/justtable/" method="GET">
    <div>
        <input
                type="key"
                id="key"
                name="key"
                placeholder="key"
                required
        />
        <input
                type="value"
                id="value"
                name="value"
                placeholder="value"
                required
        />
    </div>
    <div>
        <input type="submit" value="Select" />
    </div>
</form>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>phone</th>
        <th>password</th>
        <th>created</th>
        <th>updated</th>
        <th>затычка</th>
        <th>Удалить (на себе не вызывать!!)</th>
    </tr>
<% var i = 1; %>
<% for (var row of rows ) { %>
    <% var swapcolor = ['#f2f2f2', '#A9A9A9'] %>
    <tr style='background-color:<%= swapcolor[i++%2] %>'>
        <td><%= row.id %></td>
        <td><%= row.name %></td>
        <td><%= row.phone %></td>
        <td><%= row.password %></td>
        <td><%= row.created %></td>
        <td><%= row.updated %></td>
        <td><button type="button">Кнопка1</button></td>
        <td><button onclick="document.location='/justtabledeleterow/<%= row.id %>'">Delete</button></td>
    </tr>
<% } %>

</table>
</body>
</html>
