<!DOCTYPE html>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"/>
<style>
    sortable {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    .sortable {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    th, td {
        border: solid 1px #000;
        text-align: left;
    }
    tr:hover td{
        background: #F08080;
    }
    .btn-group button {
        background-color: #696969;
        border: 1px solid whitesmoke;
        color: white;
        padding: 10px 24px;
        cursor: pointer;
        float: left;
    }

    .btn-group button:not(:last-child) {
        border-right: none;
    }

    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }
    .btn-group button:hover {
        background-color: #3e8e41;
    }

</style>
<script>
    function NotImplemented(){
        return alert('Не реализовано. Затычка.')
    }
</script>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SPA Ветклиники</title>
</head>
<body>
<span style="float:left;">
<h2>SPA Ветклиники</h2>
</span>

<div>
    <h2 style="text-align:right">Вход от имени <%= user.Nickname %></h2>
    <div class="btn-group">
        <button style="float: right;" onclick="document.location='/users/logout'">Logout</button>
        <button onclick="document.location=''">Обновить</button>
        <button onclick="NotImplemented()">Кнопка3</button>
        <button onclick="NotImplemented()">Кнопка4</button>
    </div>
</div>
<br><br><br>


<span style="float:right;">
    <h4>Новый пользователь:</h4>
<form name="createform" action="/users/justtable/add" method="POST">
    <div>
        <input
                type="name"
                id="name"
                name="name"
                placeholder="Имя"
                required
        />
        <input
                type="phone"
                id="phone"
                name="phone"
                placeholder="Телефон"
                required
        />
    </div>
    <div>
        <input
                type="password"
                id="password"
                name="password"
                placeholder="Пароль"
                required
        />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>
</span>
<span style="float:left;">
    <h4>Фильтрация:</h4>
<form name="filterform" action="?" method="GET">
    <div>
        <input
                type="key"
                id="key"
                name="key"
                placeholder="Ключ"
        />
        <input
                type="value"
                id="value"
                name="value"
                placeholder="Значение"
        />
        <select id="entity" name="entity">
            <option value="Employee">user</option>
            <option value="Task">Tasks</option>
            <option value="ContactPerson">Contact Person</option>
            <option value="Organization">Organization</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Select" />
    </div>
</form>
</span>

<h1 style="padding: 100px"></h1>

<% if (rows.length > 0) { %>
<table class="sortable">
    <tr style="border: solid 1px #000; text-align: left;">
        <% for (propertyname of Object.getOwnPropertyNames(rows[0])) { %>
            <th style="border: solid 1px #000; text-align: left;"><%= propertyname %></th>
            <% } %>
        <th style="border: solid 1px #000; text-align: left;">Изменить</th>
        <th style="border: solid 1px #000; text-align: left;">Удалить (на себе не вызывать!!)</th>
    </tr>
<% var i = 1; %>
<% for (var row of rows ) { %>
    <% var swapcolor = ['#f2f2f2', '#A9A9A9'] %>
    <tr style='background-color: <%= swapcolor[i++%2] %>; border: solid 1px #000; text-align: left;'>
        <% for (propertyname of Object.getOwnPropertyNames(row)) { %>
            <td style="border: solid 1px #000; text-align: left;"><%= row[propertyname] %></td>
        <% } %>
        <td style="border: solid 1px #000; text-align: left;"><button type="submit" data-target="#modal-edit-user-<%= row.Id %>">Кнопка1</button></td>
        <td style="border: solid 1px #000; text-align: left;"><button onclick="document.location='/delete/<%= entity %>/<%= row.Id %>'">Delete</button></td>
    </tr>
<% } %>
</table>
<% } else { %>
    <table></table>
    <h1>No data for this entity</h1>
<% } %>
</body>
</html>
